@use './partials/variables' as *;
@use './partials/template.scss' as *;

$fa-font-path: "../webfonts";

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import 'bootstrap/scss/bootstrap';

.my-active{
    background-color: transparent;
    color: #1abc9c;
}

.centered{
    text-align: center;
    align-items: center;
}

.my-title{
    color: #fff;
    text-shadow:
        3px 3px 0 #000,
        -3px 3px 0 #000,
        -3px -3px 0 #000,
        3px -3px 0 #000;
    &:hover{
        text-decoration: none;
    }
}

